### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets is based on real people.

Use the exercises below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [2]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

In [9]:
#Proportion of errors
jud_data[jud_data['actual']!=jud_data['predicted']].count()/jud_data.count()

defendant_id    0.042153
actual          0.042153
predicted       0.042153
dtype: float64

In [13]:
#Proportion of Type I error
jud_data.query("actual =='innocent' and predicted == 'guilty'").count()/jud_data.count()

defendant_id    0.00151
actual          0.00151
predicted       0.00151
dtype: float64

In [15]:
#Proportion of Type II error
jud_data.query("actual == 'guilty' and predicted == 'innocent'").count()/jud_data.count()

defendant_id    0.040643
actual          0.040643
predicted       0.040643
dtype: float64

In [16]:
#If everyone was predicted to be guilty, 
#the percentage of Type I Errors made.

jud_data.query('actual == "innocent"').count()/jud_data.count()

defendant_id    0.4516
actual          0.4516
predicted       0.4516
dtype: float64

In [17]:
#If everyone was predicted to be guilty, 
#the proportion of Type II Errors made.

0

0

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [22]:
par_data.tail(20)

      parachute_id actual predicted
5809          4245  opens     opens
5810          2791  opens     opens
5811          6030  opens     opens
5812          3787  opens     opens
5813          5496  opens     opens
5814          3625  opens     opens
5815          7584  opens     opens
5816          8924  opens     opens
5817          5638  opens     opens
5818          3670  opens     opens
5819          6192  opens     opens
5820          6678  opens     fails
5821          5577  opens     opens
5822          7694  opens     opens
5823          4000  opens     opens
5824          3014  opens     opens
5825          7870  opens     opens
5826          8984  opens     opens
5827          8147  opens     opens
5828          4958  opens     opens

In [20]:
#proportion of errors
par_data.query("actual != predicted").count()/par_data.count()

parachute_id    0.039973
actual          0.039973
predicted       0.039973
dtype: float64

In [23]:
#proportion of Type I error
par_data.query("actual == 'fails' and predicted == 'opens'").count()/par_data.count()

parachute_id    0.000172
actual          0.000172
predicted       0.000172
dtype: float64

In [24]:
#proportion of Type II error
par_data.query("actual == 'opens' and predicted == 'fails'").count()[0]/par_data.shape[0]

0.039800995024875621

In [25]:
#If every parachute was predicted to not open, 
#the proportion of Type I Errors made.

# Type I = pred open, but actual = fail
0

0

In [28]:
#If every parachute was predicted to not open, 
#the proportion of Type II Errors made.

#Type II = actual open, but predicted not open
par_data.query("actual == 'opens'").count()/par_data.count()

parachute_id    0.991765
actual          0.991765
predicted       0.991765
dtype: float64